@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Ubuntu:wght@300;400;500;700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
}


.counters-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.counter-title{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Moon Dance', cursive;
}
.timer_section-count {
    font-size: 50px;
    border-radius: 10px;
    background-color: #fff;
    filter: drop-shadow(0 0 4px crimson);
    box-shadow: 0 0 14px crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
}

.timer_section-count p {
    color: #222;
    filter: drop-shadow(0 0 4px crimson);
}

.counter-info-block{
    display: grid;
    place-items: center;

}
